@import '~saltui/build/dd.css';
  tab_color =  white
  tab_selectcolor = #53CAC3 
body
    font-size 0.4rem
    font-family Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei"
    font-family Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei"
    .t-Hide
      display:  none
    div.wrap-content
        position: fixed
        top 50px
        left: 0        
        right: 0
        bottom: 0
        &-deviation
          top 70px
        &-touch
          -webkit-overflow-scrolling: touch
          height: 100%
          overflow-y: scroll
          overflow-x: hidden 
    .t-nav-bar
        background-color: rgb(44,121,191)
        .t-nav-bar-left-option
          >span
            display: none
        svg 
          fill white
        &.ios-nav-bar
          top 20px
          / .ios-nav-bar-top
            margin-top: 20px
            .pendinglist
              top 115px

    .omt
      overflow hidden
      white-space: nowrap
      text-overflow ellipsis
    .extra-row
      text-overflow: -webkit-ellipsis-lastline
      overflow hidden
      display -webkit-box       
      -webkit-line-clamp:2
      -webkit-box-orient vertical
for row in 1..100
  .t-MT{row}
    margin-top 1px * row
  .t-MB{row}
    margin-bottom 1px * row
  .t-ML{row}
    margin-left 1px * row 
  .t-MR{row}
    margin-right 1px * row     
  .t-PT{row}
    padding-top 1px * row
  .t-PL{row}
    padding-left 1px * row
  .t-PR{row}
    padding-right 1px * row  
  .t-LH{row}
    line-height 1px * row  

for row in 1..50
  .t-SMT{row}
    margin-top (1rem / 37.5 * row)
  .t-SMB{row}
    margin-bottom (1rem / 37.5 * row)
  .t-SML{row}
    margin-left (1rem / 37.5 * row) 
  .t-SMR{row}
    margin-right (1rem / 37.5 * row)     
  .t-SPT{row}
    padding-top (1rem / 37.5 * row)
  .t-SPB{row}
    padding-bottom (1rem / 37.5 * row)
  .t-SLH{row}
    line-height (1rem / 37.5 * row) 
/*字号*/
for row in 1..100
  .fs{row}
    font-size (1px * row) 








