.pendinglist
    display block
    height 100%
    width: 100%
    .container
      height 100%
      width: 100%
    .detail-height
      height:auto!important 
    .empty-content
        .icon
            min-height 50px
            min-width 50px
    .loading-icon
        svg 
          position absolute
          fill red