.rollup
    display block
    color:  #333
    background: white
    height auto
    border-bottom: 1px solid #E6E6E6
    line-height 44px
    .right-triangle
        position relative
        display inline-block
        left 10px
        width 0
        height 0
        border-top 5.5px solid transparent
        border-bottom 5.5px solid transparent
        border-left 11px solid #53CAC3 
        pointer-events none
    .top-triangle
        position relative
        top  12px
        left 10px
        width 0
        height 0
        border-right 5.5px solid transparent
        border-left 5.5px solid transparent
        border-top 11px solid #53CAC3
        pointer-events none
    .select-color
      color #333
    .rollup-content
      border 0.5px solid #e6e6e6
      line-height 18px
      word-wrap break-word
    .rollitem
        color #333333
        font-size: 16px
        display block
        background: #F8F8F8
        border-top: 1px solid #E6E6E6
        .badge-inner
            width 60px
            padding: 5px 9px 5px 8px
            height: 22px
            line-height: 14px
            margin-right: -20px
            background: #B3B3B3
            font-size: 13px
        .t-badge.badge-dot .badge-inner
            left: 19px
            background: #CCCCCC
        span 
            color: #666666
            font-size: 15px
        span:last-child
            color: #999999
            font-size: 12px
        .badge-color
            .badge-inner
                background:  #19B663
        .t-svg
            left 10px
        .t-badge
            right 10px