.rollup
    display block
    background: white
    >div:first-child
      height 44px
      border-bottom: 1px solid #e4e6e6
    &-title
        color #333
    &-list-item
        background-color: #e4e6e6
    .spinning
        transform: rotateX(180deg)
